<style>
.form .form-body, .portlet-form .form-body {
    padding-top: 35px;
    padding-left: unset;
    padding-right: unset;
    padding-bottom: unset;
}
</style>
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a class="font" href="/mainguide">หน้าหลัก</a>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title font"> หน้าหลัก
            <small>ข่าวสาร & ประชาสัมพันธ์</small>
        </h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="portlet-body form">
                        <form action="">
                            <div class="mt-element-ribbon" style="border: 1px solid #d6d8db; margin-top: 10px;">
                                <div class="row form">
                                    <div class="ribbon ribbon-round ribbon-border ribbon-color-primary ribbon-shadow uppercase">ค้นหา</div>
                                    <div class="form-body font">
                                        <div class="form-group">
                                            <div class="col-md-12" style="margin-top: 10px;">
                                                <input type="text" class="form-control" name="name" id="name" placeholder="กรุณาใส่คำค้นหา ...">
                                                <!-- <span class="help-block"> A block of help text. </span> -->
                                            </div>
                                            <!-- <div class="col-md-2" style="margin-top: 10px;">
                                                <button class="btn blue btn-block">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div> -->
                                        </div>
                                        <div class="form-group" style="margin-top: 60px;">
                                            <label class="col-md-4 control-label" style="color: #2C3E50;">วันที่ :</label>
                                            <div class="col-md-4">
                                                <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                                    <input type="text" class="form-control">
                                                    <span class="input-group-btn">
                                                        <button class="btn blue" type="button">
                                                            <i class="fa fa-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="portlet light portlet-fit font">
                        <div class="portlet-body">
                            <div class="mt-timeline-horizontal">
                                <div class="events-content">
                                    <ol>
                                        <li class="selected bg-grey-cararra" data-date="16/01/2014" style="padding: 15px; border: 1px solid #d6d8db; margin-bottom: 15px;">
                                            <div class="mt-title">
                                                <h2 class="mt-content-title font-dark">Expo 2016 Launch</h2>
                                            </div>
                                            <div class="mt-author">
                                                <div class="mt-avatar">
                                                    <img src="../assets/pages/media/users/avatar80_2.jpg">
                                                </div>
                                                <div class="mt-author-name">
                                                    <a href="javascript:;" class="font-blue-madison">Lisa Bold</a>
                                                </div>
                                                <div class="mt-author-datetime font-grey-mint">23 February 2014</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="mt-content border-grey-steel">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod mi felis, aliquam at iaculis eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis mi felis, aliquam at
                                                    iaculis eu, onsectetur adipiscing elit finibus eu ex. Integer efficitur leo eget dolor tincidunt, et dignissim risus lacinia. Nam in egestas onsectetur adipiscing elit nunc. Suspendisse potenti</p>
                                                <a href="javascript:;" class="btn btn-circle blue btn-outline">Read More</a>
                                                <a href="javascript:;" class="btn btn-circle btn-icon-only default pull-right">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="selected bg-grey-cararra" data-date="16/01/2014" style="padding: 15px; border: 1px solid #d6d8db; margin-bottom: 15px;">
                                            <div class="mt-title">
                                                <h2 class="mt-content-title font-dark">Expo 2016 Launch</h2>
                                            </div>
                                            <div class="mt-author">
                                                <div class="mt-avatar">
                                                    <img src="../assets/pages/media/users/avatar80_2.jpg">
                                                </div>
                                                <div class="mt-author-name">
                                                    <a href="javascript:;" class="font-blue-madison">Lisa Bold</a>
                                                </div>
                                                <div class="mt-author-datetime font-grey-mint">23 February 2014</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="mt-content border-grey-steel">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod mi felis, aliquam at iaculis eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis mi felis, aliquam at
                                                    iaculis eu, onsectetur adipiscing elit finibus eu ex. Integer efficitur leo eget dolor tincidunt, et dignissim risus lacinia. Nam in egestas onsectetur adipiscing elit nunc. Suspendisse potenti</p>
                                                <a href="javascript:;" class="btn btn-circle blue btn-outline">Read More</a>
                                                <a href="javascript:;" class="btn btn-circle btn-icon-only default pull-right">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="selected bg-grey-cararra" data-date="16/01/2014" style="padding: 15px; border: 1px solid #d6d8db; margin-bottom: 15px;">
                                            <div class="mt-title">
                                                <h2 class="mt-content-title font-dark">Expo 2016 Launch</h2>
                                            </div>
                                            <div class="mt-author">
                                                <div class="mt-avatar">
                                                    <img src="../assets/pages/media/users/avatar80_2.jpg">
                                                </div>
                                                <div class="mt-author-name">
                                                    <a href="javascript:;" class="font-blue-madison">Lisa Bold</a>
                                                </div>
                                                <div class="mt-author-datetime font-grey-mint">23 February 2014</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="mt-content border-grey-steel">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod mi felis, aliquam at iaculis eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis mi felis, aliquam at
                                                    iaculis eu, onsectetur adipiscing elit finibus eu ex. Integer efficitur leo eget dolor tincidunt, et dignissim risus lacinia. Nam in egestas onsectetur adipiscing elit nunc. Suspendisse potenti</p>
                                                <a href="javascript:;" class="btn btn-circle blue btn-outline">Read More</a>
                                                <a href="javascript:;" class="btn btn-circle btn-icon-only default pull-right">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="selected bg-grey-cararra" data-date="16/01/2014" style="padding: 15px; border: 1px solid #d6d8db; margin-bottom: 15px;">
                                            <div class="mt-title">
                                                <h2 class="mt-content-title font-dark">Expo 2016 Launch</h2>
                                            </div>
                                            <div class="mt-author">
                                                <div class="mt-avatar">
                                                    <img src="../assets/pages/media/users/avatar80_2.jpg">
                                                </div>
                                                <div class="mt-author-name">
                                                    <a href="javascript:;" class="font-blue-madison">Lisa Bold</a>
                                                </div>
                                                <div class="mt-author-datetime font-grey-mint">23 February 2014</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="mt-content border-grey-steel">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam euismod mi felis, aliquam at iaculis eleifend ipsum, at posuere augue. Pellentesque mi felis, aliquam at iaculis mi felis, aliquam at
                                                    iaculis eu, onsectetur adipiscing elit finibus eu ex. Integer efficitur leo eget dolor tincidunt, et dignissim risus lacinia. Nam in egestas onsectetur adipiscing elit nunc. Suspendisse potenti</p>
                                                <a href="javascript:;" class="btn btn-circle blue btn-outline">Read More</a>
                                                <a href="javascript:;" class="btn btn-circle btn-icon-only default pull-right">
                                                    <i class="fa fa-edit"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->