<%- include head %>
<body class="page-sidebar-closed-hide-logo page-content-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="margin-top: 5%;">
                    <div class="portlet light tasks-widget bordered">
                        <p class="text-right font"><a href="/">หน้าแรก</a> / ลืมรหัสผ่าน</p>
                        <div class="portlet-title">
                            <div class="font-blue">
                                <h3 class="caption-subject uppercase font" style="margin-top: 0px;">ขอรหัสผ่านใหม่เพื่อเข้าใช้งาน</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4 col-sm-12 text-left font" style="border-right: 2px dotted #eef1f5; padding-bottom: 5px;">
                                <h1><b style="color: #364150;">GG</b><b class="font-red">QE</b></h1>
                                <p>ท่านสามารถแจ้งขอรหัสผ่านใหม่กรณีลืมรหัสผ่าน GGQE ได้</p>
                                <p>กลับไปหน้า <a href="/">Login</a> ใหม่อีกครั้ง ที่นี่</p>
                                <p><b class="font-red">*</b> หากขอเปลี่ยนรหัสผ่านไม่ได้ กรุณาติดต่อ <ins><b>เจ้าหน้าที่</b></ins></p>
                            </div>
                            <div class="col-md-5 col-sm-12 font">
                                <h3 class="font">ระบุ Email ที่ท่านได้ลงทะเบียน</h3>
                                <form action="">
                                    <div class="row">
                                        <div class="form-body font">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label" style="color: #2C3E50;">E-mail <b class="font-red">*</b> :</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" placeholder="Enter Username">
                                                    <!-- <span class="help-block"> A block of help text. </span> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-actions text-right font" style="margin-top: 25px;">
                                            <button type="submit" class="btn green">ขอเปลี่ยนรหัสผ่าน</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</body>