<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a class="font" href="/mainguide">หน้าหลัก</a> / กล่องข้อความ
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title font"> กล่องข้อความ
            <small>การแจ้งเตือน</small>
        </h3>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->