<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a class="font" href="/mainguide">หน้าหลัก</a> / ตารางงานออกทัวร์
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title font"> ตารางงานออกทัวร์
            <small>จัดการ เพิ่ม ลบ แก้ไข ตารางงาน</small>
        </h3>
        <div class="container-fluid">
            <div class="row font" style="border-bottom: 1px solid #eee; padding-bottom: 15px;">
                <div class="col-md-10 text-right">
                    <div class="form-group">
                        <label class="col-md-1 control-label" style="margin-top: 10px;">เดือน :</label>
                        <div class="col-md-3" style="margin-top: 10px;">
                            <select class="form-control input-sm">
                                <option>มกราคม</option>
                                <option>กุมภาพันธ์</option>
                                <option>มีนาคม</option>
                                <option>เมษายน</option>
                                <option>พฤษภาคม</option>
                                <option>กรกฏาคม</option>
                                <option>มิถุนายน</option>
                                <option>สิงหาคม</option>
                                <option>กันยายน</option>
                                <option>ตุลาคม</option>
                                <option>พฤศจิกายน</option>
                                <option>ธันวาคม</option>
                            </select>
                        </div>
                        <div class="col-md-1" style="margin-top: 10px;">
                            <button class="btn blue-hoki btn-block btn-sm"><i class="fa fa-search"></i> ค้นหา</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-right" style="padding-right: 30px;">
                    <button class="btn blue btn-sm"><i class="fa fa-plus-square"></i> เพิ่มตารางงาน</button>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->