<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a class="font" href="/mainguide">หน้าหลัก</a>
                </li>
            </ul>
        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h3 class="page-title font"> หน้าหลัก
            <small>ข่าวสาร & ประชาสัมพันธ์</small>
        </h3>
        <p>
            <%= data %>
        </p>
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->